body {
color: #40514E;
  margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
line-height: 2;
}

h1 {
  color: #9A86A4;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
font-family: 'Sacramento', cursive;}

h2 {
  color: #9A86A4;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;

}

h3 {
  color: #C499BA;
  font-family: 'Montserrat', sans-serif;
}

span {text-decoration: underline;}

.btn {
  background: #C499BA;
  background-image: -webkit-linear-gradient(top, #C499BA, #825177);
  background-image: -moz-linear-gradient(top, #C499BA, #825177);
  background-image: -ms-linear-gradient(top, #C499BA, #825177);
  background-image: -o-linear-gradient(top, #C499BA, #825177);
  background-image: linear-gradient(to bottom, #C499BA, #825177);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #f5f5f5;
  font-size: 21px;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
}

.btn:hover {
  ;
  background: #ba8ab0;
  background-image: -webkit-linear-gradient(top, #ba8ab0, #6e4165);
  background-image: -moz-linear-gradient(top, #ba8ab0, #6e4165);
  background-image: -ms-linear-gradient(top, #ba8ab0, #6e4165);
  background-image: -o-linear-gradient(top, #ba8ab0, #6e4165);
  background-image: linear-gradient(to bottom, #ba8ab0, #6e4165);
  text-decoration: none;
}

hr {
border-style:  none;
border-top-style: dotted;
border-color: #E1E8EB;
border-width: 5px;
width: 5%;
margin: 100px auto;
}

 .intro{
   width: 30%;
   margin: auto;
   line-height: 2;
 }

.footer-link {color: #C499BA;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

.footer-link:hover {
  color: #FFE3FE;
}

.top-container {background-color: #F0D9FF;
  position: relative;
  padding-top: 100px
}

.middle-container {
  margin: 100px 0 0;
}

.bottom-container {background-color: #9B72AA;
  padding: 25px 0 10px;
}

.bao {color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}

.skill-row {
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
line-height:  2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.nami {
width: 25%
}

.escape {
  width: 25%;
  float: left;
  margin-right: 30px;
  }

.bee {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  line-height: 2
  width: 40%;
  margin: 40px auto 60px;
}
